MESH_IMAGE=mesh-control-plane:local
MESH_RUNTIME_UID=1000
MESH_RUNTIME_GID=1000
MESH_HTTPS_BIND=0.0.0.0
MESH_HTTPS_PORT=8443
MESH_PUBLIC_URL=https://mesh.example.com:8443
MESH_PUBLIC_HOST=mesh.example.com
MESH_DATA_DIR=/srv/mesh/data
MESH_ADMIN_TOKEN_FILE=/srv/mesh/secrets/admin.token
MESH_MASTER_KEY_FILE=/srv/mesh/secrets/master.key
MESH_TLS_CERT_FILE=/srv/mesh/tls/server.crt
MESH_TLS_KEY_FILE=/srv/mesh/tls/server.key
MESH_TLS_CA_FILE=/srv/mesh/tls/ca.crt
MESH_LINUX_INSTALL_BUNDLE_URL=
MESH_LINUX_BOOTSTRAP_HANDOFF_URL=
